# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Env files
.env
.env.prod
copilot_secrets.yml

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Mac files
.DS_Store
.DS_STORE

# Old HG stuff
.hg
.hgignore
.hgtags

.git
__pycache__
.ipynb_checkpoints
*/__pycache__
*/.ipynb_checkpoints
.local
.jupyter
.ipython
*/.terraform
terraform.*
.terraform.*
shinobi-dvr/*

# mypy
.mypy_cache/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Output from various tools
examples/output
tests/output
docs-build

# From scripts/generate-client.sh
openapi.json

# Streamlit
.streamlit

# Local or WIP files
local/
app.log
*.db
.cache
.render_cache
conflicts/
output/
projects/
.env

node_modules/
frontend/playwright/
playwright/

# ChatTTS artifacts
notebooks/asset/
notebooks/config/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.tsbuildinfo
.qodo

*.code-workspace

*.pckl
.langgraph_api
